.editor{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.io{
    padding:0 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-bottom: 10px;
}
.input{
    resize: none;
    padding: 5px;
    min-height: 200px;
}
.output{
    padding: 5px;
    display:block;
    background-color:whitesmoke;
    min-width:100%;
    resize: none;
    min-height:150px;
}
.btn{
    margin-top: 10px;
    min-height: 40px;
}
.btn :disabled{
    color: #1c1e29;
}
